@media screen and (min-width: 320px) {
  .container {
    min-width: 320px;
    max-width: 480px;
  }

  /* --------------MENU---------- */
  .navigation {
    display: none;
  }

  .contact {
    display: none;
  }

  .header > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  /* ---------------MENU--------- */
  .humburger-btn {
    border: none;
    background-color: transparent;
    stroke: #2e2f42;
  }

  .humb-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .backdrop-humb {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    padding: 80px 40px 40px 40px;
    background-color: #ffffff;
  }

  .list-humb-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 10px;
  }

  .item-humb-menu {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }

  .link-humb-menu.current {
    color: var(--accent-color);
  }
  .link-humb-menu {
    color: #2e2f42;
  }

  .item-humb-contact {
    color: #4d5ae5;
  }

  .list-humb-contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 48px;
  }

  .item-humb-tel {
    text-align: justify;
  }

  .link-humb-tel {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    color: #4d5ae5;
  }

  .item-humb-email {
  }

  .link-humb-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
  }

  .item-humb-icon {
    display: flex;
    justify-content: space-around;
    max-width: 328px;
  }

  .item-link-humb-icon {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-humb {
    width: 24px;
    height: 24px;
  }

  .humb-close-btn {
    padding: 0;
    position: absolute;
    cursor: pointer;
    right: 40px;
    top: 40px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  /* -----------FOOTER---------- */
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer-text {
    text-align: start;
  }

  .footer-div {
    text-align: center;
  }

  .footer-div1 {
    margin-bottom: 72px;
  }

  .footer-text {
    margin-left: auto;
    margin-right: auto;
  }

  .footer-div2 {
    margin-bottom: 72px;
  }

  .input-footer {
    width: 100%;
    margin-bottom: 16px;
  }

  /* -------------FIRST-PAGE---------------- */

  /* ------------HERO------------ */

  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .hero-title {
    font-size: 36px;
    line-height: 1.11;

    margin-bottom: 72px;
  }

  /* --------ABOUT---- */

  .about {
    padding-top: 96px;
    padding-bottom: 96px;

    margin-left: auto;
    margin-right: auto;
  }

  .about-list {
    gap: 72px;
    display: flex;
    flex-wrap: wrap;
  }

  .about-icon {
    display: none;
  }

  .about-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .about-text {
    font-weight: 500;
  }
  /* --------------BENEFITS---------- */

  .benefits {
    display: none;
  }
  /* -------------OUR-TEAM------------ */
  .team {
    padding-top: 96px;
    padding-bottom: 128px;
  }

  .team-list {
    width: 264px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
  }

  .team-subtitle {
    font-weight: 500;
  }

  /* ---------CUSTUMERS---------- */

  .cust {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .cust-list {
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
    justify-content: center;
  }

  .cust-item {
    width: 190px;
  }

  /* ----------------SECOND-PAGE--------- */

  /* -----------CARD---------- */

  .menu {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .filter {
    flex-wrap: wrap;
    margin-bottom: 48px;
    width: 268px;
  }

  .filter-button {
    padding: 8px 16px;
  }
  .card {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .card-link {
    width: 396px;
  }

  .card-img {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bcg-mob.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bcg-mob2x.jpg);
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .modal {
    max-width: 100%;
  }

  .link-humb-tel {
    font-size: 25px;
  }
}

@media screen and (min-width: 397px) and (max-width: 425px) {
  .link-humb-tel {
    font-size: 31px;
  }
}

@media screen and (min-width: 320px) and (max-width: 321px) {
  .link-humb-tel {
    font-size: 24px;
  }
}
